.identicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

// sizes:

.identicon    { width:  32px; height:  32px;  line-height:  32px; font-size: 16px; }
.identicon-sm { width:  16px; height:  16px;  line-height:  16px; font-size: 8px; }
.identicon-md { width:  64px; height:  64px;  line-height:  64px; font-size: 32px; }
.identicon-lg { width: 128px; height: 128px;  line-height: 128px; font-size: 64px; }

// letters:

.identicon:before { content: "\003F";}
.identicon-letter-a:before { content: "\0061"; }
.identicon-letter-b:before { content: "\0062"; }
.identicon-letter-c:before { content: "\0063"; }
.identicon-letter-d:before { content: "\0064"; }
.identicon-letter-e:before { content: "\0065"; }
.identicon-letter-f:before { content: "\0066"; }
.identicon-letter-g:before { content: "\0067"; }
.identicon-letter-h:before { content: "\0068"; }
.identicon-letter-i:before { content: "\0069"; }
.identicon-letter-j:before { content: "\006A"; }
.identicon-letter-k:before { content: "\006B"; }
.identicon-letter-l:before { content: "\006C"; }
.identicon-letter-m:before { content: "\006D"; }
.identicon-letter-n:before { content: "\006E"; }
.identicon-letter-o:before { content: "\006F"; }
.identicon-letter-p:before { content: "\0070"; }
.identicon-letter-q:before { content: "\0071"; }
.identicon-letter-r:before { content: "\0072"; }
.identicon-letter-s:before { content: "\0073"; }
.identicon-letter-t:before { content: "\0074"; }
.identicon-letter-u:before { content: "\0075"; }
.identicon-letter-v:before { content: "\0076"; }
.identicon-letter-w:before { content: "\0077"; }
.identicon-letter-x:before { content: "\0078"; }
.identicon-letter-y:before { content: "\0079"; }
.identicon-letter-z:before { content: "\007A"; }


// colors:

@color-dark:  #555;
@color-light: #eee;
@safe-rgb:    0, 51, 102, 153, 204, 255;
@size:        length(@safe-rgb);

.generate-colors(216);

.generate-colors(@n, @i: 0) when (@i < @n) {
  .identicon-color-@{i} {
    @mod3: mod(@i, @size);
    @mod2: mod(floor(@i / @size), @size);
    @mod1: mod(floor(floor(@i / @size) / @size), @size);
    @char3 : extract(@safe-rgb, (@mod3 + 1));
    @char2 : extract(@safe-rgb, (@mod2 + 1));
    @char1 : extract(@safe-rgb, (@mod1 + 1));
    @identiconColor: rgb(@char1, @char2, @char3);
    background-color: @identiconColor;
    color: contrast(@identiconColor, @color-dark, @color-light);
  }
  .generate-colors(@n, (@i + 1));
}
