pre.how-to-use {
    padding-top: 30px;
    padding-bottom: 30px;
}

.doc-avatars {
    margin: 0 -19px 20px -16px;
    overflow: hidden
}

.doc-avatars-list {
    padding-left: 0;
    list-style: none
}

.doc-avatars li {
    float: left;
    width: 25%;
    height: 115px;
    padding: 10px;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
    border: 1px solid #fff;
    background-color: #f9f9f9
}

.doc-avatars .avatar {
    margin-top: 5px;
    margin-bottom: 10px;
    /*font-size: 24px*/
}

.doc-avatars .doc-avatar-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
    font-size: 12px;
}

.doc-avatars li:hover {
    color: #fff;
    background-color: #563d7c
}

@media (min-width: 768px) {
    .doc-avatars {
        margin-left: 0;
        margin-right: 0
    }

    .doc-avatars li {
        width: 12.5%;
        /*font-size: 12px*/
    }
}

@media (max-width: 767px) {
    .doc-avatars li {
        width: 25%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .doc-avatars li {
        width: 15%;
    }
}


.footer {
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: 100px;
    color: #777;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
.footer-links {
    margin: 10px 0;
    padding-left: 0;
}
.footer-links li {
    padding: 0 2px;
}
.footer-links li:first-child {
    padding-left: 0;
}
@media (min-width: 768px) {
    .bs-footer {
        text-align: left;
    }
    .bs-footer p {
        margin-bottom: 0;
    }
}
